<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Nom du Fichier CSS à prendre (dans CSS) exemple fourni : default.css, orange.css ou black.css -->
    <add key="StyleCSS" value="orange.css"/>
    <!-- Nom du serveur à intérroger par défaut -->
    <add key="ServeurATester" value="localhost"/>
  </appSettings>
  <system.web>
    <!--  COMPILATION DE DÉBOGAGE DYNAMIQUE
          Définissez compilation debug="true" pour insérer des symboles de débogage (informations .pdb)
          dans la page compilée. Dans la mesure où cela crée un fichier plus important qui s'exécute
          plus lentement, définissez cette valeur à true uniquement lors du débogage et à
          false toutes les autres fois. Pour plus d'informations, consultez la documentation relative au
          débogage des fichiers ASP.NET.
    -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension="*.asbx" type="Microsoft.Web.Preview.Services.BridgeBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="*.asbx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!--  MESSAGES D'ERREUR PERSONNALISÉS
          Définissez customErrors mode="On" ou "RemoteOnly" pour activer les messages d'erreur personnalisés, "Off" pour les désactiver. 
          Ajoutez une balise <error> pour chacune des erreurs que vous souhaitez gérer.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTIFICATION 
          Cette section définit les stratégies d'authentification de l'application. Les modes possibles sont "Windows", 
          "Forms", "Passport" et "None"
    -->
    <authentication mode="Windows"/>
    <!--  AUTORISATION 
          Cette section définit les stratégies d'autorisation de l'application. Vous pouvez autoriser ou refuser l'accès
          aux ressources de l'application par utilisateur ou rôle. Les caractères génériques : "*" signifient tout le monde, "?" signifie utilisateurs 
          (non authentifiés) anonymes.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Autoriser tous les utilisateurs -->
      <!--  <allow     users="[liste des utilisateurs séparés par une virgule]"
                             roles="[liste des rôles séparés par une virgule]"/>
                  <deny      users="[liste des utilisateurs séparés par une virgule]"
                             roles="[liste des rôles séparés par une virgule]"/>
            -->
    </authorization>
    <!--  ENREGISTREMENT DANS UN JOURNAL DES TRACES AU NIVEAU DE L'APPLICATION
          Les traces au niveau de l'application peuvent être enregistrées dans un journal pour chaque page dans une application. 
          Définissez trace enabled="true" pour activer l'enregistrement des traces dans un journal.  Si pageOutput="true", les
          informations des traces seront affichées en bas de chaque page.  Dans le cas contraire, vous pouvez afficher le
          journal des traces de l'application en parcourant la page "trace.axd" à partir de la racine de votre application
          Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  PARAMÈTRES DE L'ÉTAT DE SESSION
          Par défaut ASP.NET utilise des cookies pour identifier les demandes qui appartiennent à une session donnée. 
          Si les cookies ne sont pas disponibles, une session peut être suivie en ajoutant un identificateur de session à l'URL. 
          Pour désactiver les cookies, définissez sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALISATION
          Cette section définit les paramètres de globalisation de l'application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-FR" uiCulture="fr-FR"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI.Controls" assembly="Microsoft.Web.Preview"/>
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,system.web,System.Web.UI.WebControls,System.Configuration,System.Web.UI.HtmlControls,System.Web.UI /define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>